.example-spacer {
  flex: 1 1 auto; // Chiếm không gian còn lại
}

.toolbar-actions {
  margin-left: auto; /* Đẩy nút sang bên phải */
}
.toolbar-container {
  display: flex;
  align-items: center; /* Căn giữa theo chiều dọc */
  justify-content: space-between; /* Đẩy không gian giữa các phần tử */
}

.add-category-button {
  background-color: #4CAF50; /* Màu xanh lá cây */
  color: white; /* Màu chữ trắng */
  
  &:hover {
    background-color: #45a049; /* Màu khi hover */
  }
}

/* category-management.component.scss */
.notification-container {
padding: 10px;
margin: 10px 0;
border-radius: 5px;
}

.error {
background-color: #f8d7da;
color: #721c24;
border: 1px solid #f5c6cb;
}

.success {
background-color: #d4edda;
color: #155724;
border: 1px solid #c3e6cb;
}