<div class="user-management">
  <mat-toolbar color="primary">
    <span>Quản Lý Người Dùng</span>
    <span class="example-spacer"></span>
    <button mat-raised-button (click)="addUser()">
      Thêm Người Dùng
    </button>
  </mat-toolbar>
  <div class="col-lg-12">
    <mat-card class="cardWithShadow">
      <mat-card-content class="p-24">
        <div class="table-responsive m-t-16">
          <table id="userTable" class="display w-100">
            <thead>
              <tr>
                <th class="f-w-600 mat-subtitle-1 f-s-14">Tên Tài Khoản</th>
                <th class="f-w-600 mat-subtitle-1 f-s-14">Email</th>
                <th class="f-w-600 mat-subtitle-1 f-s-14">Điện Thoại</th>
                <th class="f-w-600 mat-subtitle-1 f-s-14">Địa Chỉ</th>
                <th class="f-w-600 mat-subtitle-1 f-s-14">Số Dư</th>
                <th class="f-w-600 mat-subtitle-1 f-s-14">Vai Trò</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td class="mat-body-1">{{ user.username }}</td>
                <td class="mat-body-1">{{ user.email }}</td>
                <td class="mat-body-1">{{ user.phone }}</td>
                <td class="mat-body-1">{{ user.address }}</td>
                <td class="mat-body-1">{{ user.balance | currency }}</td>
                <td>
                  <span
                    [ngClass]="{
                  'bg-light-success text-success': user.role === 'tenant',
                  'bg-light-error text-error': user.role === 'admin',
                  'bg-light-primary text-primary': user.role === 'landlord',
                }"
                    class="rounded f-w-600 p-6 p-y-4 f-s-12"
                    >{{ user.role | titlecase }}</span
                  >
                </td>
                <td>
                  <button mat-icon-button color="accent" (click)="editUser(user)">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-icon-button color="warn" (click)="deleteUser(user)">
                    <mat-icon>delete</mat-icon>
                  </button>

                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
