<div class="payment-management">
    <mat-toolbar color="primary">
      <span>Quản Lý Thanh Toán</span>
    </mat-toolbar>
  
    <div class="col-lg-12">
      <mat-card class="cardWithShadow">
        <mat-card-content>
          <div class="toolbar-container">
            <mat-form-field>
              <mat-label>Tìm kiếm</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Tìm kiếm thanh toán">
            </mat-form-field>
          </div>  
          
          <div class="notification-container" *ngIf="errorMessage" [ngClass]="{'error': isError, 'success': !isError}">
            {{ errorMessage }}
          </div>
          
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
            <!-- Cột ID Thanh Toán -->
            <ng-container matColumnDef="paymentId">
              <th mat-header-cell *matHeaderCellDef> ID Thanh Toán </th>
              <td mat-cell *matCellDef="let payment"> {{ payment.paymentId }} </td>
            </ng-container>
  
            <!-- Cột Số Tiền -->
            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef> Số Tiền </th>
              <td mat-cell *matCellDef="let payment"> {{ payment.amount }} </td>
            </ng-container>
            <ng-container matColumnDef="paymentMethod">
                <th mat-header-cell *matHeaderCellDef> Phương thức thanh toán </th>
                <td mat-cell *matCellDef="let payment">
                  <span [ngClass]="{
                    'momo-color': payment.paymentMethod === 'momo',
                    'zalopay-color': payment.paymentMethod === 'zalopay',
                    'other-color': payment.paymentMethod === 'otherMethod'
                  }">
                    {{ payment.paymentMethod }}
                  </span>
                </td>
              </ng-container>
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef> Ngày </th>
              <td mat-cell *matCellDef="let payment"> {{ payment.createdAt | date: 'short' }} </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Trạng Thái </th>
                <td mat-cell *matCellDef="let payment"><span
                  [ngClass]="{
                    'bg-light-success text-success': payment.status === 'success',
                    'bg-light-error text-error': payment.status === 'failed',
                  }"
                  class="rounded f-w-600 p-6 p-y-4 f-s-12"
                >{{ payment.status }}</span>  </td>
              </ng-container>
  
            <!-- Cột Hành Động -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> Hành Động </th>
              <td mat-cell *matCellDef="let payment">
                <button mat-icon-button color="warn" (click)="deletePayment(payment)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>          
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </mat-card-content>
      </mat-card>
    </div>
  </div>