/* styles.css */
.momo-color {
    color: #9c27b0; /* Màu tím cho Momo */
  }
  
  .zalopay-color {
    color: #4caf50; /* Màu xanh lá cho ZaloPay */
  }
  
  .other-color {
    color: #2196F3; /* Màu xanh dương cho phương thức khác */
  }