<h2 mat-dialog-title>{{ isEditMode ? 'Sửa Người Dùng' : 'Thêm Người Dùng' }}</h2>
<mat-dialog-content>
  <form [formGroup]="userForm" (ngSubmit)="saveUser()" class="column-form">
    <mat-form-field>
      <mat-label>Tên Tài Khoản</mat-label>
      <input matInput formControlName="username" required>
      <mat-error *ngIf="userForm.get('username')?.hasError('required')">Tên tài khoản là bắt buộc!</mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="!isEditMode">
      <mat-label>Mật Khẩu</mat-label>
      <input matInput type="password" formControlName="password" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" required>
      <mat-error *ngIf="userForm.get('email')?.hasError('required')">Email là bắt buộc!</mat-error>
      <mat-error *ngIf="userForm.get('email')?.hasError('email')">Email không hợp lệ!</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Điện Thoại</mat-label>
      <input matInput formControlName="phone">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Địa Chỉ</mat-label>
      <input matInput formControlName="address" required>
      <mat-error *ngIf="userForm.get('address')?.hasError('required')">Địa chỉ là bắt buộc!</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Số Dư</mat-label>
      <input matInput type="number" formControlName="balance" required>
      <mat-error *ngIf="userForm.get('balance')?.hasError('required')">Số dư là bắt buộc!</mat-error>
      <mat-error *ngIf="userForm.get('balance')?.hasError('min')">Số dư không được âm!</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Vai Trò</