<style>
  .fixed-column {
    width: 150px; /* Kích thước cố định cho cột */
    overflow: hidden;
    text-overflow: ellipsis; /* Hiển thị ba chấm nếu văn bản vượt quá */
    white-space: nowrap; /* Ngăn không cho văn bản xuống dòng */
  }
</style>

<div class="post-management">
  <mat-toolbar color="primary">
    <span>Quản Lý Bài Viết</span>
  </mat-toolbar>

  <div class="col-lg-12">
    <mat-card class="cardWithShadow">
      <mat-card-content>
        <div class="toolbar-container">
          <mat-form-field>
            <mat-label>Tìm kiếm</mat-label>
            <input
              matInput
              (keyup)="applyFilter($event)"
              placeholder="Tìm kiếm bài viết"
            />
          </mat-form-field>

          <span class="example-spacer"></span>
        </div>

        <div class="table-responsive m-t-16">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef>Tiêu Đề</th>
              <td mat-cell *matCellDef="let post" class="limited-width">{{ post.title }}</td>
            </ng-container>

            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef>Mô Tả</th>
              <td mat-cell *matCellDef="let post">
                <mat-form-field appearance="fill">
                  <textarea
                    matInput
                    [(ngModel)]="post.description"
                    rows="1"
                    readonly
                  ></textarea>
                </mat-form-field>
              </td>
            </ng-container>

            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef>Giá</th>
              <td mat-cell *matCellDef="let post">
                {{ post.price | currency }}
              </td>
            </ng-container>

            <ng-container matColumnDef="location">
              <th mat-header-cell *matHeaderCellDef>Địa Điểm</th>
              <td mat-cell *matCellDef="let post">
                <textarea [(ngModel)]="post.location" rows="3" cols="20"></textarea>
              </td>
            </ng-container>

            <ng-container matColumnDef="area">
              <th mat-header-cell *matHeaderCellDef>Khu Vực</th>
              <td mat-cell *matCellDef="let post">{{ post.area }}</td>
            </ng-container>

            <!-- Cột Người Dùng -->
            <ng-container matColumnDef="user">
              <th mat-header-cell *matHeaderCellDef>Người Dùng</th>
              <td mat-cell *matCellDef="let post">
                {{ post.userId.name || "N/A" }}
              </td>
            </ng-container>

            <!-- Cột Danh Mục -->
            <ng-container matColumnDef="category">
              <th mat-header-cell *matHeaderCellDef>Danh Mục</th>
              <td mat-cell *matCellDef="let post">
                {{ post.categoryId?.name || "N/A" }}
              </td>
            </ng-container>

            <!-- Cột Dịch Vụ Đặt Chỗ -->
            <ng-container matColumnDef="service">
              <th mat-header-cell *matHeaderCellDef> Dịch Vụ Đặt Chỗ </th>
              <td mat-cell *matCellDef="let post">
                {{ post.serviceId?.name || "N/A" }}
              </td>
            </ng-container> 

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>Hành Động</th>
              <td mat-cell *matCellDef="let post">
                <button mat-icon-button color="accent" (click)="editPost(post)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="deletePost(post)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>

        <mat-paginator
          [length]="dataSource.data.length"
          [pageSize]="5"
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
        >
        </mat-paginator>
      </mat-card-content>
    </mat-card>
  </div>
</div>
